<div id="addNewJanusz" class="hidden">
    <div class="preloader-section hidden"><img src="/static/img/preloader.gif" align="Preloader" /></div>
    <form action="" method="POST" id="addjanusz">
        <input type="hidden" name="janusz_pearson" id="addjanuszPersone" />
        <div class="form-item">
            <label for="janusz_opis">Opis</label>
            <textarea name="janusz_opis" id="addjanuszOpis" rows="6" class="form-control" placeholder="Wpisz za co ten pracownik dostaje Janusza"></textarea>
        </div>
        <div class="form-item">
            <button type="submit" id="addjanuszSubmit" class="btn">Dodaj</button>
        </div>
    </form>
</div>