<div id="addNewJanusz" class="hidden">
    <div class="form-item">
        <label for="janusz_opis">Opis</label>
        <textarea name="janusz_opis" id="janusz_opis" rows="6" class="form-control" placeholder="Wpisz za co ten pracownik dostaje Janusza"></textarea>
    </div>
    <div class="form-item">
        <button type="button" class="btn">Dodaj</button>
    </div>
</div>